<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="mongoServer" value="mongodb://Lily:27017"/>
        <add key="mongoDbName" value="LogAnalyserDb"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
