@model Log.Web.Mvc.Models.Widget

<strong>@Model.Title</strong>
<div id="chart">This text is replaced by the chart.</div>
<script type="text/javascript">
    var chartId = "chart";
    var chart = new FusionCharts('@Url.Content("~/Scripts/FusionCharts/FCF_MSLine.swf")', chartId, "800", "500", "0", "1");
    chart.setDataXML('@Html.Raw(Model.Chart.XmlSerialize())');
    chart.render(chartId);
</script>