@using Log.Web.Mvc.Models.Fusion
@model List<Log.Web.Mvc.Models.Widget>

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@foreach (var widget in Model)
{
    if (widget.Chart != null && widget.Chart is LineGraph)
    {
        Html.RenderPartial("~/Views/Widgets/LineGraph.cshtml", widget);
    }
    
}